header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    z-index: -1;
}

button, a{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--hamburguer-color);
    letter-spacing: 1.5px;
    font-weight: bold;
}

nav{
    display: none;
}

.logo {
    width: 30%;
    position: absolute;
    top: 1%;
    left: 0%;
}

.logo img {
    max-width:130px;
    max-height:130px;
    width: auto;
    height: auto;
    border-radius: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    z-index: 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--hamburguer-color);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20%;
}

.hamburguer {
    position: absolute;
    top: 3%;
    right: 4%;
    z-index: 2;
}

.hamburguer.isChecked .bar1 {
    transform: rotate(45deg) translateY(8px) translateX(7px); 
    z-index: 1;
}
.hamburguer.isChecked .bar2 {
    display: none;
    z-index: 1;
}
.hamburguer.isChecked .bar3 {
    transform: rotate(-45deg);
    z-index: 1;
}

.responsive_nav{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: var(--mental-green);
    gap: 24px;
    animation: animate 1s ease-in-out;
    z-index: 1;
    position: relative;
}

.separator{
    height: 1px;
    width: 100%;
    background-color: var(--light-gray);
    position: absolute;
    top: 100px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

    @keyframes animate{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@media(min-width: 768px){ 

    header{
        height: 105px;
        justify-content: space-around;
    }

    nav {
        display: block;
    }

    nav a {
        margin: 0 15px;
    }

    .hamburguer {
        display: none;
    }
    
    .header-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .logo{
        position: unset;
        top: 2%;
    }

    .menu-nav{
        display: flex;
        align-items: center;
    }

    .logo img {
        max-width:150px;
        max-height:100px;
        width: auto;
        height: auto;
    }
}
