:root {
  --teal-blue:#1B3C59;
  --mental-green:#82CCB4;
  --light-gray:#E6E6E6;
  --white:#FFFFFF;
  --black:#000000;
  --hamburguer-color: #333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-gray);
}

